.survey_container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 2;
  overflow: auto;
}

.survey_container__fon {
  position: absolute;
  width: 550px;
  height: 100%;
  background: rgba(11, 11, 22, 0.64);
}

.survey_container__item {
  width: 550px;
  padding: 96px 24px 0px;
  height: 100%;
  .number_survey {
    position: relative;
    .number_survey-line {
      height: 4px;
      background: #288EEF;
      opacity: 0.24;
      border-radius: 4px;
    }
    .number_survey__level-line {
      background: #288EEF;
      border-radius: 4px;
      height: 4px;
      width: 16.6%;
      position: absolute;
      top: 0;
      transition: all 0.4s ease-in-out;
    }
  }
  .number_survey-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 26px;
    .number_list {
      font-family: 'Signika', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      color: #FFFFFF;
      .number_list-active {
        color: #288EEF;
      }
      .number_list {
        margin-left: 6px;
        opacity: 0.64;
      }
    }
  }
}

.number_survey-info-img {
  width: 24px;
  cursor: pointer;
}

.survey_container__item-title {
  font-family: 'Signika', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #EAECF4;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  span {
    width: 319px;
  }
}

.selection_box_container {
  margin-top: 29px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .selection_box-item {
    width: 334px;
    background: #211939;
    border-radius: 16px;
    height: 64px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.selection_box-item__title {
  margin-left: 17px;
  color: #FFFFFF;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  opacity: 0.8;
}
.selection_box-item__btn {
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 14px;
  margin-right: 16px;
}
.selection_box-item__btn-active {
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 14px;
  margin-right: 16px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 9px;
  }
}

.selection_box-btn {
  width: 327px;
  height: 56px;
  border: 2px solid #D325FF;
  border-radius: 32px;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selection_box-btn-approve {
  width: 327px;
  height: 56px;
  border: 2px solid #D325FF;
  border-radius: 60px;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #D325FF;
}

.selection_box-item-active {
  background: linear-gradient(90deg, #C447FF 0%, #9832FF 98.42%);
  width: 334px;
  border-radius: 16px;
  height: 64px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.notPrevBtn {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .survey_container__item{
    padding-top: 90px;
    .number_survey-info{
      .number_list {
        font-size: 18px;
      }
    }
  }
  .survey_container__item-title{
    margin-top: 0;
    span{
      font-size: 22px;
    }
  }
  .selection_box_container {
    .selection_box-item {
      height: 55px;
    }
  }
  .selection_box-item__title {
    font-size: 18px;
  }
  .selection_box-item-active {
    height: 55px;
  }
  .selection_box-item__btn, .selection_box-item__btn-active {
    width: 28px;
    height: 28px;
    border-radius: 10px;
  }

  .selection_box-btn, .selection_box-btn-approve {
    width: 327px;
    height: 48px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 550px) {
  .survey_container__fon {
    width: 100%;
  }
}

@media only screen and (max-width: 385px) {
  .selection_box_container {
    .selection_box-item {
      width: 320px;
    }
  }
  .selection_box-item-active {
    width: 320px;
  }
  .survey_container__item {
    height: 100vh;
  }
  .selection_box-btn, .selection_box-btn-approve{
    margin-bottom: 25px;
  }
}
