<div class="privacy">
  <div class="privacy_container">
    <h2 class="privacy_title">Privacy Policy</h2>
    <div class="privacy_description">
      <p>We value your (“User,” “You,” or “Your”) privacy and recognize the sensitivity of your personal information (personal data). We are committed to protecting your personal information and using it only as appropriate to provide you with the best possible service, products, and opportunities, as described in this Privacy Policy.</p>
      <p>This Privacy Policy explains the online information practices of A.S Grand Mobile Ventures Limited (collectively, “Company,” “we,” “us,” or “our”) which hosts the website of https://cleverbraingames.com. We think it is important to explain what information We collect, what We do with it and to describe the rights you will have with respect to your personal information processed by us.</p>
      <p>Privacy and personal data protection principles vary from one country to another. When you access or visit a third-party website or application, you are subject to the privacy policy of that website or application. Please read the third party’s privacy policy to determine the privacy practices that apply to information or data maintained by the website or application.</p>
      <p>1. We are committed to safeguarding the privacy of our application users; in this policy, we explain how we will treat your personal information.</p>
      <p>2. We may collect, store and use the following kinds of personal information.
        * Information about your device and about your visits to and use of this application (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit and navigation paths);
      </p>
      <p>* Information that you provide to us when registering;</p>
      <p>* Your email  when you create your profile;</p>
      <p>* The information contained in or relating to any communication that you send to us or send through our application (including the communication content and metadata associated with the communication);</p>
      <p>* Any other personal information that you choose to send to us.</p>
      <p>3. Before you disclose to us the personal information of another person, you must obtain that person’s consent to both the disclosure and the processing of that personal information in accordance with this policy.</p>
      <p>4. We may use your personal information to:</p>
      <p>* Personalize our platforms for you;</p>
      <p>* Send you email notifications that you have specifically requested;</p>
      <p>* Send you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter);</p>
      <p>* Send you marketing communications relating to our business (or the businesses of carefully-selected third parties) which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);</p>
      <p>* Provide third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information);</p>
      <p>* Deal with inquiries and complaints made by or about you related to our application;</p>
      <p>* Keep our application secure and prevent fraud.</p>
      <p>5. We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party’s direct marketing.</p>
      <p>6. Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</p>
      <p>7. We will take reasonable technical and organizational precautions to prevent the loss, misuse or alteration of your personal information.</p>
      <p>8. We will store all the personal information you provide on our secure (password- and firewall-protected) servers.</p>
      <p>9. You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>
      <p>10. You are responsible for keeping the password you use for accessing our application confidential; we will not ask you for your password (except when you log in to our application).</p>
      <p>11. You may instruct us to correct, retrieve or delete all your personal information that we hold about you by contacting us via email or messaging system inside the application.</p>
      <p>12. We may update this policy from time to time by publishing a new version on our application and we will notify you of changes to this policy.</p>
      <p>13. This application is owned and operated by A.S GRAND MOBILE VENTURES LIMITED. More details about the company: 7 Florinis, Greg Tower, 2nd Floor
        Nicosia 1065; e-mail: <a href="mailto:hi@grandmobile.biz">hi&#64;grandmobile.biz</a> .</p>
    </div>
  </div>
</div>
