.privacy {
  display: flex;
  justify-content: center;
  a {
    color: #EB29D0;
  }
}

.privacy_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(11,11,22,.64);
  padding: 120px 50px 0;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  position: absolute;
}

::-webkit-scrollbar {
  width: 0;
}

.privacy_title {
  margin-bottom: 50px;
  color: #ffffff;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.privacy_description {
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 30px;
}

.privacy_description-header {
  font-weight: 600;
  margin-top: 30px;
}

@media only screen and (max-width: 650px) {
  .privacy_container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
